#content_area_wrapper {
		width:100%;
	}
	#content_area {
		width:100%;
		background-color:transparent;
	}
	#cboxOverlay{
		background: url(../images/overlay2.png) repeat 0 0;
	}
	#menubar_stats {
		color:white;
		font-size:40px;
	}
	.fnb_gratuity {
		width:50px;
		margin-left:10px;
		text-align:right;
	}
	#new_quickbuttons {
		width:170px;
		position:relative;
		padding:10px;
	}
	#register_container {
		margin:0px 0px;
		width:435px;
	}
	#food_and_beverage div.selected_menu_section {
		box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2), inset 0px 3px 66px 3px black;
	}
	#overall_sale {
		width:435px;
		margin:0px;
	}
	.item_menus {
		background:#333;
		width:800px;
		height:460px;
		display: block;
		border-top: 4px solid white;
		padding-top: 10px;
	}
	#cart_section {
		float:left;	
		width:35%;
	}
	div.main_column {
		width:60%;
	}
	.new_quickbutton {
		background:url(../images/pieces/buttons.png) -10px -490px transparent;
		height:30;
		text-align:center;
		display:block;
		color:white;
		font-size:12px;
		cursor:pointer;
	}
	a.selected_menu {
		background-position-x:-191px;
	}
	.edit_quickbuttons, .add_quickbutton, .settings_button {
		width: 184px;
		margin-top: 10px;
		color: #5D5D5D;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 1px 1px 0px black;
		padding: 10px 3px;
		line-height: 1;
		text-align: left;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4), 0px 2px -1px 0px rgba(255, 255, 255, 0.2);
		border: none;
		background: rgba(0, 0, 0, 0.2);
	}
	.quickbutton_menu {
		position:relative;
		background-position:-10px -530px;
	}
	#column_transactions {
		background-position:-10px -610px;
	}
	.quickbutton_menu_box {
		display:none;
		margin-left:-999em;
		position:absolute;
		border-radius:5px 4px; -moz-border-radius:5px; -webkit-border-radius:5px;
		box-shadow:5px 5px 5px rgba (0,0,0,0.1); -webkit-box-shadow:5px 5px rgba (0,0,0 0.1); -moz-box-shadow:5px 5px rgba (0,0,0,0.1);
		font-family:Calibri, Tahoma, Geneva, sans-serif;
		position:absolute; left:11em; top:0em; z-index:99;
		margin-left:0; width:170px;
		background:white;
		border:1px solid #369;
		padding:5px;
	}
	a.show {
		display:block;
	}
	#sortable {
		list-style:none;
		/*margin-top:38px;*/
	}
	#suspend_sale_button {
		margin-top:0px;
	}
	#sortable .ui-state-default, #sortable .ui-widget-content .ui-state-default, #sortable .ui-widget-header .ui-state-default, #sortable #cboxTitle {
		border:none;
		background:none;
	}
	#sortable li.ui-state-default a {
		color:white;
	}
	.purchase_payments_box {
		background:#ff8;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		padding:2px 10px 5px;
		font-size:0.9em;
		display:none;
	}
	.purchase_payments_box div {
		height:20px;
		line-height:20px;
	}
	.purchase_payments_box .header {
		font-size:1.2em;
		margin:10px 0px;
	}
	.table_number {
		float: left;
		color: #333;
		width: 95%;
		border: 1px solid #369;
		background: white;
		margin: 5px;
		text-align: center;
		line-height: 30px;
		padding-bottom:5px;
	}
	.table_number .ss_customer_name {
		line-height:20px;
	}
	#
	a.already_used {
		border:1px solid #ccc;
		background:#eee;
		cursor:default;
	}
	#cboxContent #table_menu_controls {
		float:left;
		width:150px;
		padding:10px 0px 0px 10px;
	}
	#cboxContent #table_number_holder {
		padding-bottom:10px;
		float:left;
		width:830px;
	}
	#cboxContent .table_number {
		width:70px;
		height:50px;
		line-height:58px;
		margin:10px 0px 0px 10px;
		font-size:16px;
		font-weight:bold;
		border:1px solid #7c7c7c;
		color:#484848;
		background:#e7e7e7;
		border-radius:7px;
	}
	#cboxContent a.already_used {
		color:white;
		cursor:pointer;
		background:#7c7c7c;
	}
	#suspended_sales .selected {
		background:#CBE5FF;
	}
	+/* Sales page */
#feedback_bar {
       z-index:1000;
}
.hover_mask {
    width:224px;
    height:33px;
    background:url(../images/pieces/reg_mode3.png) black;
    position:relative;
    margin-top:-34px;
    opacity:.6;
}
.recent_transaction:hover .hover_mask {
    display:block;
}
#column_transactions, #suspended_sales_header {
	background:url(../images/backgrounds/top_bar_bg.png) no-repeat;
	height:37px;
	width:97%;
	text-align: left;
	line-height: 37px;
	text-indent: 15px;
	color: white;
	font-size: 16px;
	text-shadow: 0px -1px 1px black;
}
#suspended_sales_header {
	margin-top:10px;
}
#recent_transactions, #suspended_sales {
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4), 0px 2px -1px 0px rgba(255, 255, 255, 0.2);
	border: none;
	background: rgba(0, 0, 0, 0.2);
	padding:6px 6px;
	width:190px;
    overflow:auto;
}
#recent_transactions {
    max-height:300px;
}
.recent_transaction {
    background:transparent url(../images/backgrounds/receipt.png) no-repeat bottom left;
    padding-bottom:20px;
    /*box-shadow:1px 1px 1px 1px #000;*/
}
.recent_transaction a {
    color:#336699;
}
.recent_transaction:hover {
}
.recent_transaction:hover .transaction_id {
}
.recent_transaction .transaction_time {
    font-size:14px;
    color:#242424;
    padding-left:6px;
}
.recent_transaction .transaction_name {
	font-size:16px;
	color:#242424;
	margin-top:5px;
	padding-left:10px;
}
.recent_transaction .transaction_total {
    float:right;
    font-size:16px;
    color:#242424;
    padding-right:10px;
}
.transaction_info {
    padding:5px;
}
.transaction_id {
    font-size:14px;
    text-align:center;
    color:#2073A9;
    float:right;
    padding-right:6px;
}
#pin {
	margin-left:80px;
	margin-top:40px;
	width:200px;
}
.number_pad {
	width:290px;
	margin-left:60px;
	margin-top:30px;
}
.number_pad_number {
	width:86px;
	height:45px;
	background:transparent url(../images/buttons/number_pad.png) no-repeat;
	display:block;
	cursor:pointer;
	float:left;
}
.number_one {
	
}
.number_two {
	background-position:-85px 0px;
}
.number_three {
	background-position:-170px 0px;
}
.number_four {
	background-position:0px -43px;
}
.number_five {
	background-position:-85px -43px;
}
.number_six {
	background-position:-170px -43px;
}
.number_seven {
	background-position:0px -86px;
}
.number_eight {
	background-position:-85px -86px;
}
.number_nine {
	background-position:-170px -86px;
}
.number_login {
	background-position:0px -129px;
}
.number_zero {
	background-position:-85px -129px;
}
.number_backspace {
	background-position:-170px -129px;
}
#food_and_beverage .fnb_button {
	background: #349ac5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3');
	background: -webkit-linear-gradient(top, #349ac5, #4173b3);
	background: -moz-linear-gradient(top, #349ac5, #4173b3);
	color: white;
	display: block;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	line-height: 14px;
	padding: 0px 20px 0 20px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
	margin: 0px 10px 10px 0px;
	width: 150px;
	cursor: pointer;
	width: 90px;
	height: 30px;
	vertical-align: middle;
	padding-top: 20px;
	float:left;
}
#food_and_beverage #make_payment .fnb_button {
	margin:0px 5px 10px 5px;
}
#food_and_beverage #make_payment {
	margin:10px auto;
	width:426px;
	background: transparent; 
}
.pay_box {
	width:100%;
}
.search_for_customer_message {
	background:none;
}
.due_amount_label {
	margin-bottom: 10px;
}
.payment_column_1, .payment_column_2 {
	width:100%;
}
#register_container #cart_contents .warning_message {
	background: none;
}
#table_top #add_item_form input {
	width: 250px;
}
#add_item_form2 {
	background:url("../images/pieces/search3.png") no-repeat scroll -178px center transparent;
}
.header_cell {
	font-size:11px;
}
#register td {
	font-size:11px;
}
#register td.reg_item_total {
	font-size: 11px;
}
td.reg_item_discount input {
	width: 26px;
}
td.reg_item_price input {
	width: 35px;
}
div.total_price_box {
	width: 50px;
}
#totals_box {
	background:white;
}
#Payment_Types {
	margin-top: 0px;
	padding-bottom: 0px;
}
#menu_section_button_holder {
	float:left;
	width: 137px;
	border-right: 1px solid white;
	margin-right: 5px;
}
.menu_section_button {
	
}
#menu_section_item_holder {
	float:left;
	width:650px;
}
