#title_bar {
    font-size: 1.75em;
    height: 50px;
    margin: auto;
    width: 960px;
}
#title_icon {
    width: 40px;
}
#title_icon img {
    height: 35px;
}
#title_search {
    vertical-align: middle;
    width: 264px;
}
#table_top input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 0.65em;
    padding: 6px 10px;
    vertical-align: top;
    width: 205px;
}
#spinner {
    display: none;
    margin:8px 0px 0px 1px;
}
#contents {
    margin: auto;
}
#config_form #contents {
	width:855px;
}
#config_form #table_holder {
	width:675px;
}
#commands {
    width: 170px;
}
#commands a, #commands #items_filter_form div {
    	background: #349ac5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349ac5', endColorstr='#4173b3'); /* for IE */
	background: -webkit-linear-gradient(top, #349AC5, #4173B3);
	background: -moz-linear-gradient(top,  #349AC5,  #4173B3); /* for firefox 3.6+ */
	color: white;
	display: block;
	font-size: 14px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 10px;
	width: 180px;
	text-align: center;
	text-shadow: 0px -1px 0px black;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5), 0px 3px 1px -2px rgba(255, 255, 255, .2);
	border: 1px solid #232323;
}
#commands a#delete, #sales_delete_form input#submit, #timeclock_entry_form #delete, #quickbutton_basic_info #delete{
		background: #d14d4d; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d14d4d', endColorstr='#c03939'); /* for IE */
	background: -webkit-linear-gradient(top, #d14d4d, #c03939);
	background: -moz-linear-gradient(top,  #d14d4d,  #c03939); /* for firefox 3.6+ */
}
#commands #items_filter_form div input {
    display: none;
}
/*
#commands a.new {
    background-position: -10px -10px;
}
#commands a.email {
    background-position: -10px -50px;
}
#commands a.email_inactive {
    background-position: -10px -90px;
}
#commands a.import {
    background-position: -10px -130px;
}
#commands a.cleanup {
    background-position: -10px -130px;
}
#commands a#delete {
    background-position: -10px -170px;
}
#commands a#delete.delete_inactive {
    background-position: -10px -210px;
}
#commands a#bulk_edit {
    background-position: -10px -250px;
}
#commands a#bulk_edit.bulk_edit_inactive {
    background-position: -10px -290px;
}
#commands a#generate_barcodes {
    background-position: -10px -330px;
}
#commands a#generate_barcodes.generate_barcodes_inactive {
    background-position: -10px -370px;
}
#commands a#barcode_details {
    background-position: -10px -330px;
}
#commands a#barcodes_details.barcode_details_inactive {
    background-position: -10px -370px;
}
#commands a#generate_barcode_labels {
    background-position: -10px -330px;
}
#commands a#generate_barcode_labels.generate_barcodes_inactive {
    background-position: -10px -370px;
}
#commands #inventory {
    background-position: -10px -410px;
}
#commands #serial {
    background-position: -10px -330px;
}
#commands #nondescript {
    background-position: -10px -450px;
}
*/
#contents td {
    vertical-align: top;
}
#item_table {
    background-image: none;
    background-position: 0 0;
    box-shadow:0px 3px 12px 3px black;
}
#item_table th {
    background: #ccc url(../images/backgrounds/paper_edge_gray.png) 0px -2px repeat-x;
    /*background-position: -15px -80px;*/
    border-right: 1px solid #BBBBBB;
    color: #333333;
    font-size: 0.7em;
    height: 30px;
    padding: 0 6px;
    text-align: left;
    font-size:11px;
}
#item_table .course_table th {
    padding:0 6px;
}
#item_table th.leftmost {
    /*background-position: left -80px;*/
}
#item_table th.rightmost {
    /*background-position: right -80px;*/
}
#item_table .headerSortUp .header_cell {
    background: url(../images/icons/arrow_up.png) no-repeat right 12px, #a3a3a3 url(../images/backgrounds/paper_edge_dark_gray.png) 0px -2px repeat-x;
    color:white;
}
span.sortArrow {
	padding:1px 10px;
	line-height:30px;
}
#item_table .headerSortUp .sortArrow {
    background: url(../images/icons/arrow_up.png) no-repeat 7px 3px;
}
#item_table .headerSortDown .sortArrow {
    background: url(../images/icons/arrow_down.png) no-repeat 7px 4px;
}
#item_table .headerSortDown .header_cell {
    background: url(../images/icons/arrow_down.png) no-repeat right 12px, #a3a3a3 url(../images/backgrounds/paper_edge_dark_gray.png) 0px -2px repeat-x;
    color:white;
    /*background-position: right -40px;*/
}
#item_table .rightmost {
    border-right: medium none;
}
#item_table td {
    background-color: white;
    border-bottom: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    color: #555555;
    /*font-size: 12px;*/
	font-size:18px;
    height: 30px;
    padding: 0 6px;
    vertical-align: middle;
}
#item_table .odd td {
	background-color: #F3F3F3;
}
#item_table .course_table td {
    padding:0 6px;
}
#item_table td.rightmost {
    padding: 0;
}
#item_table td.over {
    background-color: #e2eef6;
    background-image: none;
}
#item_table td.selected {
    background-color: #FFFFee;
    background-image: none;
}
#table_holder {
	height:250px;
	overflow:auto;
}
#content_area_wrapper #content_area #contents #item_table #table_holder {
	/*width:960px*/
	background:white;
} 
#table_holder .warning_message {
	background: #FFFFFF;
	width: 101%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: -11px;
}

#sortable_table a {
    color: #555555;
}
#sortable_table input {
    cursor: pointer;
}
#sortable_table .colbox {
    /*font-size: 12px;*/
	font-size:18px;
    padding: 7px 0;
    text-align: center;
    width: 40px;
}
#sortable_table .rightmost .colbox {
    display: block;
    /*padding: 7px;*/
}
#item_table td.override_login {
	text-align: center;
	font-size:0.64em;
}
#sortable_table > tbody > tr {
	padding: 5px;
	margin: 5px;
}

#sortable_table td {
	word-wrap: break-word;
}

#sortable_table td.innertable {
	display: none;
	border-bottom: 4px solid #111111;
	padding: 0px;
}

#sortable_table td .innertable table.innertable {
	width: 100%;
}
.account_balance {
	float:right;
}
#add_group_button #add_items_button{
	margin:7px 115px 0px 0px;
}
#sortable_table a.green_plus, span.green_plus {
	background: url("../images/courses/icon_colours.png") repeat scroll 0 -36px transparent;
    height: 17px;
    width: 17px;
    display:block;
    overflow: hidden;
    text-indent: -10000px;
    float:right;
    margin-left:3px;
    padding:0px;
}
#customer_groups .form_field {
	line-height:28px;
}
#teetime_table .expand_players{
	background: url("../images/pieces/up_down.png") repeat scroll 0 0 transparent;
    height: 27px;
    width: 28px;
    display:block;
    overflow: hidden;
    text-indent: -10000px;
    float:right;
    margin-left:3px;
    padding:0px;
}
#teetime_table .checkbox_image{
	background: url("../images/pieces/up_down.png") repeat scroll -56px 0 transparent;
    height: 27px;
    width: 27px;
    display:block;
    overflow: hidden;
    text-indent: -10000px;
    float:right;
    margin-left:3px;
    padding:0px;
}
#teetime_table span.checked {
	background-position:-56px -27px;
}

#teetime_table a.up {
	background-position:-28px 0px;
}
#teetime_table .expand_players:hover {
	background-position: 0px -27px;
}
#teetime_table a.up:hover {
	background-position: -28px -27px;
}
#reports .category_row, #reports .subcategory_row {
	font-style:italic;
	text-decoration:underline;
}
#reports .payments_box {
	float:left;
	width:80px;
}
#reports .cash_box, #reports .credit_box {
	font-size:10px;
	float:left;
	text-align:left;
}
#reports .total_box {
	float:right;
}
